<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">



	<bean id="dev1" class="com.infotel.TpNoteMavenJava.metier.Dev">	
		<property name="id" value="1"/>
		<property name="nom" value="Jean"/>
		<property name="experience" value="10"/>
	</bean>
		
	<bean id="dev2" class="com.infotel.TpNoteMavenJava.metier.Dev">	
		<property name="id" value="2"/>
		<property name="nom" value="Pierre"/>
		<property name="experience" value="2"/>
	</bean>
		
		<bean id="devlo1" class="com.infotel.TpNoteMavenJava.metier.Devlogiciel">
		<property name="developpeur" ref="dev2"/>
		<property name="chefdeveloppeur" ref="dev1"/>
		</bean>


<!-- on va utiliser les annotations -->
<context:annotation-config/>


<!-- ou se trouve les classe à noter -->
<context:component-scan base-package="com.infotel.TpNoteMavenJava"/>


</beans>
